* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: calc(100vh);
}

.search,
.details,
h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 5px;
}

.search button {
  padding: 8px;
  cursor: pointer;
}

.details {
  flex-direction: column;
  align-items: center;
}

.details img {
  max-width: 200px;
}

.region-title {
  text-align: center;
  margin: 40px 0 20px 0;
}

.countries-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.countries-container img {
  min-height: 100px;
  max-width: 200px;
}